.bullet-list, .crb-bullet-list{

    p{
        max-width: 80ch;
        margin-bottom: 2.4rem;
        @media #{$large}{
            margin-bottom: 4.8rem;
        }
    }

    ul{ 
        margin-left: 0;
        
        li{
            list-style: none;
            margin-bottom: 3.2rem;
            padding-left: 1.6rem;
            border-left: solid 2px rgba($color-grey, .56);
        }
    }
}