.bullet-list, .crb-bullet-list{

    p{max-width: 70ch;}

    ul{
        li{
            max-width: 80ch;
            list-style: none;
            margin-bottom: 3.2rem;
            padding-left: 1.6rem;
            border-left: solid 4px $color-primary;
        }
    }
}