.images-row{

    .images-row__col{
        display: flex; flex-direction: column;
        justify-content: space-between;
        min-height: 100%;
    }

    .images-row__img{
        width: 100%;
        object-fit: cover;
        aspect-ratio: 2/1.2;
        margin-bottom: 4.8rem;

        @media #{$large}{
            margin-bottom: 0;
            aspect-ratio: 1/1;
        }
    }

    .images-row__col:last-of-type{
        .images-row__img{border-radius: $img-border-radius;}
    }

    @media #{$large}{
        .images-row__col:first-of-type{
            .images-row__img{border-radius: $img-border-radius;}
        }
        .images-row__col:last-of-type{
            .images-row__img{border-radius: 0;}
        }
    }

}