.two-col-txt, .crb-two-col-txt{

    /*overwrite Rich Text*/ 
    p{
        text-align: left !important;

        a{
            color: $color-primary;
            &:hover{
                opacity: .7;
            }
        }

        span{
            color: $color-txt-secondary !important;
        }

    }
    
    hr{
        background: $color-primary;
        height: 3px;
        border: none;
    }
}