.two-col-txt, .crb-two-col-txt{

    /*overwrite Rich Text*/ 
    p{
        text-align: left !important;

        a{
            text-decoration: underline; text-decoration-thickness: 2px;
            color: $color-grey;

            &:hover{
                background: $bg-gradient;
                    -webkit-background-clip: text; background-clip: text;
                    -webkit-text-fill-color: transparent;
                    -webkit-box-decoration-break: clone; box-decoration-break: clone;
            }
        }

        span{
            color: $color-txt-secondary !important;
        }

    }
    
    hr{
        background: $color-grey;
        height: 3px;
        border: none;
    }
}