.txt-highlight, .crb-txt-highlight{
    p{
        color: $color-grey;
        font-size: clamp(2rem, 3vw, 3.2rem);
        font-family: $font-family-secondary;
        font-weight: 600;
        line-height: 150%;
    }
}