/*Textarea placeholder*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: $color-txt-secondary !important;
    opacity: 0.8;
    font-family: $font-family-primary;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color-txt-secondary !important;
    opacity: 0.8;
    font-family: $font-family-primary;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color-txt-secondary !important;
    opacity: 0.8;
    font-family: $font-family-primary;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $color-txt-secondary !important;
    opacity: 0.8;
    font-family: $font-family-primary;
}


.wpcf7{

    label{
        font-size: 1.8rem;
        color: $color-txt-primary;
        display: inline-block;
        min-width: 100%;

        .wpcf7-form-control-wrap{
            display: inline-block;
            margin: 1.6rem 0 4rem;
            min-width: 100%;

            .wpcf7-form-control{
                width: 100%;
                padding: 1.6rem 2.8rem;
                border: $border-light-grey;
                font-size: 1.6rem;
                color: $color-txt-primary;

                &:focus-visible{
                    outline: none;
                    border: $border-dark-grey;
                    background-color: rgba(0,0,0,0.04);
                }

            }

            &.your-message{
                margin: 1.6rem 0 2.4rem;
            }

            &.privacy{
                
                .wpcf7-form-control{
                    border: none;
                    margin: 1.6rem 0 4rem;
                    background-color: $color-white;
                    padding: 0;

                    .wpcf7-list-item{
                        margin-left: 0;
                    }

                    .wpcf7-list-item-label{
                        font-size: 1.6rem;
                        color: $color-txt-secondary;
                    }
                }

                input[type='checkbox']{
                    margin: 3px 12px 3px 3px;
                    transform: scale(1.4);
                    accent-color: $color-grey;
                }

            }
        }
    }

    input[type='submit']{
        font-family: $font-family-secondary;
        font-size: 1.6rem;
        font-weight: 600;
        color: $color-white;
        text-transform: uppercase; text-decoration: none;
        letter-spacing: 2px; line-height: 100%; white-space: nowrap;
        border: none;
        background-color: $color-black;
        padding: 1.6rem 2.4rem;
        cursor: pointer;
        transition: all .3s ease-in-out;

        /*iOS input height fix*/
        box-sizing: border-box !important; height: 4.8rem !important; border-radius: 0 !important; -webkit-appearance: none !important;

        &:hover{
            color: $color-txt-primary;
            background-color: rgba(0,0,0,0.04);
        }
    }

    span.wpcf7-not-valid-tip{
        font-size: 1.6rem;
        color: #e05252;
        margin-top: 0.8rem;
    }

    form .wpcf7-response-output, .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output{
        border-color: $color-white;
        margin: 1.6rem 0 4rem;
        color: $color-txt-secondary;
    }
}

//ios fix shit
input[type="text"], input[type="email"], textarea {
    border-radius: 0 !important;
    -webkit-appearance: none;
}