.cta{
    margin-left: 16px; margin-right: 16px;

    .container{
        padding: 8rem 0;
        border: 4px solid;
        border-image-slice: 1;
        border-width: 4px;
        border-image-source: linear-gradient(45deg, rgba(0,158,226,1) 10%, rgba(230,205,0,1) 99%)
    }

    .cta__text{
        font-family: $font-family-secondary;
        font-size: clamp(3.2rem, 5vw, 4.8rem);
        line-height: 130%;
        color: $color-txt-primary;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 4.8rem;

        b{color: $color-grey;font-weight: 600;}
        
        @media #{$large}{
            text-align: left;
            margin-bottom: 0;
        }
    }

    .t-center{
        @media #{$large}{
            text-align: right;
        }
    }

    .cta__btn{
        font-family: $font-family-secondary;
        font-weight: 600;
        color: $color-white;
        text-transform: uppercase; text-decoration: none;
        letter-spacing: 2px; line-height: 100%; white-space: nowrap;

        position: relative; z-index: 1;
        display: inline-block;
        padding: 1.6rem 2.4rem;
        background-color: $color-black;
        margin-top: -4px;
        transition: all .3s ease-in-out;

        &:before{
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            transform: scaleY(0);
            transform-origin: center top;
            background: linear-gradient(90deg, rgba(0,158,226,1) 0%, rgba(230,205,0,1) 100%);
            transition: transform .2s cubic-bezier(.215,.61,.355,1);
        }

        &:hover{
            color: $color-white;

            &:before{
                transform: scaleY(1);
                transform-origin: center bottom;
              }
        }

        @media #{$large}{
            margin-top: .4rem;
        }
    }
} //.cta

//hide cta on contact page
.page-id-19{
    .cta{
        display: none;
    }
}


.partners{
    margin-left: 16px;
    margin-right: 16px;

    .container{
        border-top: $border-light-grey;
        padding-top: 8rem;
    }


    .t-left{
        @media #{$large}{
            text-align: right;
        }
    }
    .partners__linkedin{
        display: inline-block;
        color: $color-grey;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-decoration: none;

        @media #{$large}{
            line-height: 400%;
        }

        svg{
            vertical-align: sub;
            margin-right: 4px;
            path{fill: $color-grey;}
        }

        &:hover{
            color: $color-txt-secondary;
            svg{
                path{fill:$color-txt-secondary}
            }
        }
    }

    .partners__img-col{
        text-align: center;

        a{display: inline-block;}

        img{
            margin: 2rem 0;
            max-height: 4rem;
            display: block;
            filter: grayscale(1);
            transition: 0.3s all cubic-bezier(0.4, 0, 0.2, 1);
            
            &:hover{
                filter: grayscale(0); mix-blend-mode: normal;
            }

            @media #{$xsmall}{
                max-height: 6rem;
            }
            @media #{$medium}{
                max-height: 8rem;
            }
            @media #{$large}{
                max-height: 9rem;
            }
        }
    }

} //.partners



footer{
    margin-left: 16px; margin-right: 16px;

    .container{
        border-top: $border-light-grey;
        padding: 5.6rem 0;
    }

    .footer__col-img{
        margin-bottom: 2.4rem;

        img{opacity: .88;}

        @media #{$xlarge}{
            margin-bottom: 0;
        }
    }

    .footer__col-txt{
        display: flex; justify-content: space-between;
        flex-direction: column;
        
        @media #{$xlarge}{
            flex-direction: row;
            align-items: center;
        }

        p{
            font-size: 1.5rem;
            color: $color-txt-secondary;
            margin-bottom: 1.6rem;

            @media #{$xlarge}{
                margin-bottom: 0;
            }

            &:first-of-type{
                color: $color-txt-primary;
            }
        }


    }
}