.loop{

    article{

        
        .loop__img-permalink{
            display: block;
            background: $bg-gradient;


            img{
                width: 100%;
                display: block;
                object-fit: cover;
                aspect-ratio: 2/1.2;
                margin-bottom: 2.4rem;
                transition: all .35s ease-in-out;
        
                @media #{$large}{
                    margin-bottom: 0;
                    aspect-ratio: 1/1;
                
                }
            }

            &:hover{
                img{
                    filter: saturate(0);
                    opacity: .5;
                }
            }
        }


    
        .loop__content-container{
            display: flex; flex-direction: column;
            justify-content: space-between;
            min-height: 100%;
    
            @media #{$large}{
                margin-right: 1.2rem;
                border-right: $border-light-grey;
                padding-right: calc(32px + (1.2rem*2) - 2px); //bootstrap + margin*2 - border
            }
    
            .loop__over-content{
                p{
                    font-size: 1.6rem;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
            }
            .loop__content{
    
                h3{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                    a{
                        text-decoration: none;
                        color: $color-txt-primary;
                    }
                }
    
                p{
                    line-height: 160%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                }
    
                .read-more{
                    font-size: 2rem;
                    font-family: $font-family-secondary;
                    font-weight: 800;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    background: $bg-gradient;
                        -webkit-background-clip: text; background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -webkit-box-decoration-break: clone; box-decoration-break: clone;
                    transition: opacity .35s ease-in-out;
                    
                    &:hover{
                        opacity: .56;
                    }
                }
            }
    
        }

        border-bottom: $border-light-grey;
        padding: 4rem 0;

        &:last-of-type{
            .loop__img-permalink, img{
                border-radius: $img-border-radius;
            }
        }
    }


}